{% extends "layout.html"%}
{% block content %}
    <form action="/login" method="post">
        <label>Name:</label><input type="email" name="email" />
        <label>Password:</label><input type="password" name="password" />
        <input type="submit" value="Login" />
    </form>
{% endblock %}